/*------All page style------*/
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif; 
}

/*------Size of body in width------*/

body
{
	width: 100%;
}
/*-------Navbar style------*/

/*style of background for navigation panel*/
#header
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background: #E3E6F3;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}
/*positon for elements inside of navigation panel*/
#navbar
{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*postion and space bettween elements in navbar*/
#navbar li
{
	list-style: none;
	padding: 0 20px;
	position: relative;
}
/*style for elements*/
#navbar li a
{
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}
/*shift color after clicking on the element*/
#navbar li a:hover,
#navbar li a.active {
	color: #088178;
}
/*shift color after clicking for all elements in navigation panel*/
#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 2px;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

/*-----Home page section-----*/
#page-header
{
	background-image: url("images/product_head.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 14px;
}


/*new color for h2*/
#page-header h2, p
{
	color: black;
}



/*-----Pagination-----*/


/*Pagination position of items as 1,2 and -->*/
#pagination
{
	text-align: center;
}

/*style of items*/
#pagination a
{
	text-decoration: none;
	background-color: #088178;
	padding: 15px 20px;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
}


/*-----Product's card-----*/

/*postion and space*/
#feature
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


/*postion for section-p1*/
.section-p1
{
	padding: 40px 80px;
}

/*position for class fe-box*/
#feature .fe-box
{
	width: 180px;
	text-align: center;
	padding: 25px 1px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7d0;
	border-radius: 4px;
	margin: 15px 0;
}
/*effect shadow for class fe-box*/
#feature .fe-box:hover{
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

/*style of h5 in class fe-box*/
#feature .fe-box h5
{
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
	display: inline-block;
}
/*size of img in class fe-box*/
#feature .fe-box img
{
	width: 100%;
	margin-bottom: 10px;
}


/*-----Product1 code-----*/
#product1
{
	text-align: center;
}
/*position for container*/
#product1 .pro-container
{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}
/*position for content*/
#product1 .pro
{
	width: 23%;
	min-width: 250px;
	padding: 10px 12px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 0;
	transition: 0.2s ease;
	position: relative;
}

/*Effect after clicking on it*/
#product1 .pro:hover{
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

/*size of image and border*/
#product1 .pro img
{
	width: 100%;
	border-radius: 20px;
}

#product1 .pro .des{
	text-align: start;
	padding: 10px 0;
}

/*Product 1 styles for elements span, h5, h4, a*/
#product1 .pro .des span
{
	color: black;
	font-size: 12px;
}


#product1 .pro .des h5
{
	padding-top: 7px;
	color: #1a1a1a;
	font-size: 14px;
}

#product1 .pro .des h4
{
	padding-top: 7px;
	font-size: 15px;
	font-weight: 700;
	color: #088178;
}

#product .pro a
{
	width: 40px;
	height: 40px;
	line-height: 40px;
	list-style: none;
	border-radius: 50px;
	background-color: transparent;
	font-weight: 500;
	color: #088178;
}
